.education-section {
  margin-top: 20px;
}

.education-section p {
  margin-bottom: 20px;
}

.timeline {
  position: relative;
  padding-left: 10px;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 10px;
  bottom: 0;
  left: 35px;
  width: 4px;
  background-color: #f0f0f0;
  z-index: 0;
}

.timeline-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}

.icon-wrapper {
  width: 50px;
  height: 50px;
  margin-right: 30px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  border: 5px solid #fff;
  box-shadow: 0 0 0 4px #f2f3f7;
}

.color-blue {
  background-color: #2c98f0;
}
.color-red {
  background-color: #ef5350;
}
.color-purple {
  background-color: #ab47bc;
}

.content-card {
  background-color: #f2f3f8;
  padding: 20px 30px;
  width: 100%;
  border-radius: 2px;
  position: relative;
}

.content-card::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #f2f3f8;
}

.content-card h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
  margin-top: 0;
}

.content-card .year {
  font-weight: 400;
  color: #888;
  font-size: 16px;
  margin-left: 5px;
}

.content-card p {
  font-family: "Quicksand", sans-serif;
  font-style: italic;
  color: #555;
  font-size: 15px;
  margin: 0;
}

.timeline-end-circle {
  position: absolute;
  left: 26px;
  bottom: -10px;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border: 4px solid #f0f0f0;
  border-radius: 50%;
  z-index: 1;
}

@media (min-width: 768px) {
  .content-card {
    padding: 15px;
  }

  .icon-wrapper {
    margin-right: 15px;
  }

  .content-card h3 {
    font-size: 16px;
    display: flex;
    flex-direction: column;
  }

  .content-card .year {
    margin-left: 0;
    font-size: 14px;
    margin-top: 2px;
  }
}
